html,
body{
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif!important;
  color: white!important;;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.main{
    flex-grow: 1;
    min-height: calc(100vh - 114px);
    background:linear-gradient( rgb(16, 45, 66),rgb(42, 112, 160)) center center / cover;
}
#root{
    min-height: 100%;
}
.wrapper {
  padding: 32px;
}

.cookie-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #e84118;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  margin:5px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}
