.form-control{
    display: block;
    width: 100%;
    padding: .375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c1ccd3;
    border-radius: .3rem;
    font-family: Montserrat,sans-serif;
    transition: border-color .15s ease-in-out,background-color .15s ease-in-out;
}
.label-form{
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.form-control:focus{
    box-shadow: none;
}
hr.hr-2{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #ca1369, #f0f0f0);
}