.header{
    background-color: rgb(82, 93, 247);
    display: flex;
    justify-content: space-between;
    height: 80px;
}

#logo-img{
    border-radius: 50%;
    margin-left: 20px;
}
.home-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.startButtons{
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid;
    color: whitesmoke;
    fill: whitesmoke;
    width: 120px;
    border-radius: 9999px;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    justify-content: center;
    height: 28px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
}