.home{
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}
.welcome{
    position:absolute;
    left: 100px;
    top: 100px;
    color: white;
    font-size: 80px;
}
@media screen and (max-width: 992px) {
    .welcome {
      font-size: small;
    }
  }